<div class="footer">
  <div class="stlogo">&nbsp;</div>
  <div class="adress">
    125319, г.Москва<br />
    ул. Черняховского,<br />
    дом 5, корпус 1.&nbsp;
  </div>
  <div class="adress">
    +7 (495) 749 2959<br />
    с 10-00 до 18-00<br />
    info@standee.ru
  </div>
</div>