<div class="header">
  <div class="title-left">
    РЕКЛАМНОЕ <br/>
    ПРОИЗВОДСТВО
  </div>
  <div class="title-center">
    ЧТО МЫ УМЕЕМ ДЕЛАТЬ ХОРОШО
  </div>
  <div class="standee_logo"><img src="assets/logo.png" /></div>
</div>