<script type="text/javascript">
  var counter=[]
</script>
<div class="content">
  <div class="column first">
    <% Gallery.all.each do |gallery| %>
      <div class="name">
        <%= gallery.name %>
      </div>
    <% end %>
  </div>
  <div class="column second">
    <% Gallery.all.each_with_index do |gallery,index| %>
    <div class="button-left" onclick="left_click(<%=index%>)">
      </div>
      <div class="image">
        <% gallery.photos.each do |photo| %>
          <div class="element">
            <%= image_tag photo.image(:gallery) %>
          </div>
        <% end %>
      </div>
      <div class="button-right" onclick="right_click(<%= index %>)">
      </div>
    <% end %>
  </div>
  <div class="column">
    gfdh
  </div>
</div>
