// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Header */
.header {}
.header .title-left {position: absolute;}
.header .title-center {text-align: center;}

/* Footer */
.footer { 
  position: absolute; bottom: 0;
}
.stlogo { 
  background: url(/images/stlogo.png);
  float: left;
  width: 150px;
  height: 150px;
}
.adress {
  width: 150px;
  height: 120px;
  float: left;
  margin-left: 20px;
  padding-top: 30px;
}

.content {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 68%; 
}
.content .column {float: left;}
.content .first { width: 20%}
.content .second { width: 50%; overflow: hidden;}

.column .name {padding: 46px 58px;}
.element { float: left; padding: 4px 4px;}
.image {clear: both; height: 120px; position: relative;}
.button-right {height: 50px; width: 19px; background-color: green; position: absolute; float: right; margin-top: -75px; right: 28%;}
.button-left {height: 50px; width: 19px; background-color: green; position: absolute; float: left; margin-top: 45px; left: 18%;}