/* только для Internet Explorer */
@font-face {
   font-family: CondPro;
   src: local("/fonts/PFDinTextCondPro-Regular"),
        url(PFDinTextCondPro-Regular.eot);
}

/* далее для всех остальных браузеров */
@font-face {
  font-family: CondPro;
  src: local("/fonts/PFDinTextCondPro-Regular"),
       url(PFDinTextCondPro-Regular.ttf);
}

@font-face {
   font-family: CondPro-Bold;
   src: local("/fonts/PFDinTextCondPro-Bold"),
        url(PFDinTextCondPro-Bold.eot);
}

/* далее для всех остальных браузеров */
@font-face {
  font-family: CondPro-Bold;
  src: local("/fonts/PFDinTextCondPro-Bold"),
       url(PFDinTextCondPro-Bold.ttf);
}

body { 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Header */
.header {font-family: 'CondPro-Bold'}
.header .title-left {
  font-size: 23px;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: -25px;
  width: 20%;
}
.header .title-center {
  float: left;
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: -34px;
}
.standee_logo {margin-top: 20px;}
.standee_logo img {height: 100%; width: 100%;}
/* Footer */
.footer { 
  float: left;width: 100%;border-top: 2px black solid;
}
.copyright {margin: 5px 0px 5px; width: 100%;font-size: 13px;text-align: center;letter-spacing: 8px; font-family: 'CondPro'}
.stlogo { 
  background: url(/images/stlogo.png);
  float: left;
  width: 150px;
  height: 150px;
}
.adress {
  width: 150px;
  height: 120px;
  float: left;
  margin-left: 20px;
  padding-top: 30px;
}
.line {display: block;height: 140px;}
.line2 {display: block;height: 140px;width: 640px;float: left;overflow: hidden;margin-left: 4px;}

.content {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 88%; 
}
.content .column {float: left;}
.content .first { width: 20%}
.content .second { overflow: hidden; width: 75%;}
.content .third { right: 10%; top: 16%; width: 15%; font-size: 13px; position: fixed;}

.column .name {border-bottom: 2px black solid; font-family:'CondPro';line-height: 138px;height: 138px;float: left;width: 25%;padding-left: 15px;  
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; 
    font-size: 20px;     
  }
}
#name {font-family: 'CondPro-Bold'; font-size: 18px}
#content {font-family: 'CondPro'; font-size: 15px}
.element { float: left; padding: 4px 4px;}
.image {clear: both; position: relative;}
.button-right {cursor: pointer; overflow: hidden; height: 50px; width: 19px; float: left; margin-top: 45px;}
.button-left {cursor: pointer; overflow: hidden; height: 50px; width: 19px; float: left; margin-top: 45px;}

.button-left span {margin-top: -50px;background: url(/images/arrow_left.png); width: 19px; height: 100px; display: block;background-repeat: no-repeat;background-size: 100% 100%;}
.button-right span {margin-top: -50px;background: url(/images/arrow_right.png); width: 19px; height: 100px; display: block;background-repeat: no-repeat;background-size: 100% 100%;}

.button-left span:hover {margin-top: 0px;}
.button-right span:hover {margin-top: 0px;}

.image ul li {overflow: hidden; display: inline-block; padding: 10px 2px;}

 /* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}